div.container {
  width: 100%;
  background-image: url("../e.jpeg");
  background-size: cover;
}
.header {
  background-image: url("../giphy.gif");
  text-align: center;
  font-size: 100px;
  padding: 50px;
  color:white;
  font-family: 'Anton', sans-serif;
}
.dice {
  text-align: center;
  padding-top: 120px;
  margin-left: 20px;
}

.text {
  padding: 50px;
  color: black;
  font-size: 30px;

}
strong {
  color: #0060CA;
}
footer {
  display: block;
  padding: 50px;
}
